h1 {
  font-weight: bold;
   text-decoration: underline red;
   text-align: center;
}


h2 {
  color: green;
}

body {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 30px;
}
/* form {
  width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: left;
 }

.form-item {
  width: 300px;

 } */


 /* form {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
.form-item {
  width: 40%;
  height: 40%;
} */

form {
  margin: 0 auto;
  /* width: 100px */
}


.form-item {
  font-family: Helvetica, serif;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin: 5px 15px;
}

.form-item .recommend {

}

/* reviwed-list {
 display: flex;
 flex-flow: row nowrap;
 height: 100%;
}

.ul {
 width: 40%;
 height: 40%;
} */


.restaurant-reviwed {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

#reviewed-list {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid black;
  background: lightgrey;
}


.save-button,
.delete-button {
  background-color: grey;
 border: none;
 color: white;
 padding: 4px 6px 8px;
 text-align: center;
 display: inline-block;
 font-size: 20px;
 margin: 0 auto;
 cursor: pointer;
}

.delete-button {
  margin: 5px 15px;
}


textarea {
  vertical-align: top;
}
