h1 {
  font-weight: bold;
   text-decoration: underline red;
   text-align: center;
}


h2 {
  color: green;
}

body {
  font-family: Verdana, serif;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 30px;
}

}
.form-item {
  width: 40%;
  height: 40%;
}

form {
  margin: 0 auto;

  /* width: 100px */
}


.form-item {
  font-family: Helvetica, serif;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin: 10px 15px;
}


.restaurant-reviewed {
  display: flex;

  flex-wrap: row wrap;
  list-style-type: none;

}

#reviewed-list {
  margin: 0.5rem 5em 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid black;
  background: lightgrey;

}


.save-button,
.delete-button {
  background-color: grey;
 border: none;
 color: white;
 padding: 4px 6px 8px;
 text-align: center;
 display: inline-block;
 font-size: 20px;
 margin: 0 auto;
 cursor: pointer;
}


textarea {
  vertical-align: top;
}

.delete-button {
  margin: 5px 15px;
}
